.red { color: $cor-vermelha-1; }
.white { color: $cor-branca; }
.bg-red { background-color: $cor-vermelha-1; }
.bg-blue { background-color: $cor-azul-1; }

.gd-verde-azul { background: $gradiente-1; }
.gd-cinza { background: $gradiente-2; }
.gd-laranja { background: $gradiente-3; }
.gd-azul {background: $gradiente-4; }