.linha {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media(min-width: $largura-xs-min) {
    .xs-1 { flex: 0 0 8.33%; max-width: 8.33%; }
    .xs-2 { flex: 0 0 16.66%; max-width: 16.66%; }
    .xs-3 { flex: 0 0 25%; max-width: 25%; }
    .xs-4 { flex: 0 0 33.33%; max-width: 33.33%; }
    .xs-5 { flex: 0 0 41.66%; max-width: 41.66%; }
    .xs-6 { flex: 0 0 50%; max-width: 50%; }
    .xs-7 { flex: 0 0 58.33%; max-width: 58.33%; }
    .xs-8 { flex: 0 0 66.66%; max-width: 66.66%; }
    .xs-9 { flex: 0 0 75%; max-width: 75%; }
    .xs-10 { flex: 0 0 83.33%; max-width: 83.33%; }
    .xs-11 { flex: 0 0 91.66%; max-width: 91.66%; }
    .xs-12 { flex: 0 0 100%; max-width: 100%; }

    .xs-1, .xs-2, .xs-3, .xs-4, .xs-5, .xs-6,
    .xs-7, .xs-8, .xs-9, .xs-10, .xs-11, .xs-12 {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 30px;
    }
}

@media (min-width: $largura-sm-min) {
    .sm-1 { flex: 0 0 8.33%; max-width: 8.33%; }
    .sm-2 { flex: 0 0 16.66%; max-width: 16.66%; }
    .sm-3 { flex: 0 0 25%; max-width: 25%; }
    .sm-4 { flex: 0 0 33.33%; max-width: 33.33%; }
    .sm-5 { flex: 0 0 41.66%; max-width: 41.66%; }
    .sm-6 { flex: 0 0 50%; max-width: 50%; }
    .sm-7 { flex: 0 0 58.33%; max-width: 58.33%; }
    .sm-8 { flex: 0 0 66.66%; max-width: 66.66%; }
    .sm-9 { flex: 0 0 75%; max-width: 75%; }
    .sm-10 { flex: 0 0 83.33%; max-width: 83.33%; }
    .sm-11 { flex: 0 0 91.66%; max-width: 91.66%; }
    .sm-12 { flex: 0 0 100%; max-width: 100%; }

    .sm-1, .sm-2, .sm-3, .sm-4, .sm-5, .sm-6,
    .sm-7, .sm-8, .sm-9, .sm-10, .sm-11, .sm-12 {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 30px;
    }
}

@media (min-width: $largura-md-min) {
    .md-1 { flex: 0 0 8.33%; max-width: 8.33%; }
    .md-2 { flex: 0 0 16.66%; max-width: 16.66%; }
    .md-3 { flex: 0 0 25%; max-width: 25%; }
    .md-4 { flex: 0 0 33.33%; max-width: 33.33%; }
    .md-5 { flex: 0 0 41.66%; max-width: 41.66%; }
    .md-6 { flex: 0 0 50%; max-width: 50%; }
    .md-7 { flex: 0 0 58.33%; max-width: 58.33%; }
    .md-8 { flex: 0 0 66.66%; max-width: 66.66%; }
    .md-9 { flex: 0 0 75%; max-width: 75%; }
    .md-10 { flex: 0 0 83.33%; max-width: 83.33%; }
    .md-11 { flex: 0 0 91.66%; max-width: 91.66%; }
    .md-12 { flex: 0 0 100%; max-width: 100%; }

    .md-1, .md-2, .md-3, .md-4, .md-5, .md-6,
    .md-7, .md-8, .md-9, .md-10, .md-11, .md-12 {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 30px;
    }
}

@media (min-width: $largura-lg-min) {
    .lg-1 { flex: 0 0 8.33%; max-width: 8.33%; }
    .lg-2 { flex: 0 0 16.66%; max-width: 16.66%; }
    .lg-3 { flex: 0 0 25%; max-width: 25%; }
    .lg-4 { flex: 0 0 33.33%; max-width: 33.33%; }
    .lg-5 { flex: 0 0 41.66%; max-width: 41.66%; }
    .lg-6 { flex: 0 0 50%; max-width: 50%; }
    .lg-7 { flex: 0 0 58.33%; max-width: 58.33%; }
    .lg-8 { flex: 0 0 66.66%; max-width: 66.66%; }
    .lg-9 { flex: 0 0 75%; max-width: 75%; }
    .lg-10 { flex: 0 0 83.33%; max-width: 83.33%; }
    .lg-11 { flex: 0 0 91.66%; max-width: 91.66%; }
    .lg-12 { flex: 0 0 100%; max-width: 100%; }

    .lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6,
    .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12 {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 30px;
    }
}

@media (min-width: $largura-xl-min) {
    .xl-1 { flex: 0 0 8.33%; max-width: 8.33%; }
    .xl-2 { flex: 0 0 16.66%; max-width: 16.66%; }
    .xl-3 { flex: 0 0 25%; max-width: 25%; }
    .xl-4 { flex: 0 0 33.33%; max-width: 33.33%; }
    .xl-5 { flex: 0 0 41.66%; max-width: 41.66%; }
    .xl-6 { flex: 0 0 50%; max-width: 50%; }
    .xl-7 { flex: 0 0 58.33%; max-width: 58.33%; }
    .xl-8 { flex: 0 0 66.66%; max-width: 66.66%; }
    .xl-9 { flex: 0 0 75%; max-width: 75%; }
    .xl-10 { flex: 0 0 83.33%; max-width: 83.33%; }
    .xl-11 { flex: 0 0 91.66%; max-width: 91.66%; }
    .xl-12 { flex: 0 0 100%; max-width: 100%; }

    .xl-1, .xl-2, .xl-3, .xl-4, .xl-5, .xl-6,
    .xl-7, .xl-8, .xl-9, .xl-10, .xl-11, .xl-12 {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 30px;
    }
}