$fonte-principal: 'Montserrat', sans-serif;

// Cores
$cor-vermelha-1: #f43a59;
$cor-azul-1: #007bff;
$cor-branca: #FFF;

$cor-bg-escura: #1A2F3A;

$gradiente-1: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
$gradiente-2: linear-gradient(135deg, #4f5b60 0%, #97a9b2 100%);
$gradiente-3: linear-gradient(135deg, #fc4a1a 0%, #f7b733 100%);
$gradiente-4: linear-gradient(135deg, #7474BF 0%, #348AC7 100%);

// Tamanhos
$altura-logo: 80px;
$altura-cabecalho: 80px;
$altura-menu-top: 80px;
$largura-barra-lateral: 225px;
$altura-rodape: 40px;

// Tamanho dos dispositivos
$largura-xl-min: 1200px;
$largura-lg-max: 1199px;
$largura-lg-min: 992px;
$largura-md-max: 991px;
$largura-md-min: 768px;
$largura-sm-max: 767px;
$largura-sm-min: 576px;
$largura-xs-max: 575px;
$largura-xs-min: 0px;