.painel {
    // flex-grow: 1;
    padding: 20px;
    background-color: #FFF;
    box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06);
}

.painel h2 {
    font-weight: 400;
    margin-top: 10px; 
}