$fonte-principal: Helvetica, sans-serif;

$cor-bg-primaria: #DEDEDE;
$cor-bg-escura: #333;
$cor-bg-vermelho: #da2b25; 
$cor-bg-verde: #38a737;

$cor-primaria: #307dcf;
$cor-branca: #FFF;

$tamanho-medio: 1.3em;

$largura-tablet: 1000px;
$largura-celular: 600px;