body {
    background-color: lightgray;
}

.menu-principal {
    min-width: 500px;
    text-align: center;
}

.menu-principal h1 {
    background: #333;
    color: #fff;
    border-bottom: solid 5px #4faddb;
    padding: 15px 0px;
    margin: 0;
}

.menu-principal nav {
    display: inline-block;
    background-color: #fff;
    min-width: 248px;
}

.menu-principal a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #222;
    font-size: 1.2em;
}

.menu-principal a:hover {
    background-color: rgba(79, 173, 219, .4);
}